# Get the validation report data

Get the validation report data

## Usage

``` r
get_validation_report()
```

## Value

data.frame

## Examples

``` r
if (FALSE) { # \dontrun{
validation_report <- get_validation_report()
} # }
```
